server:
  port: 8585

spring:
  application:
    name: Press-lab

  datasource:
    url: jdbc:postgresql://dpg-cprefplumphs73c448dg-a:5432/presslab?useUnicode=true&characterEncoding=UTF-8
    username: presslab_user
    password: c8KBCw2vAy2d24YncSW3F9ojBb4UXxQV
    driver-class-name: org.postgresql.Driver

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  mail:
    host: smtp.gmail.com
    port: 587
    username: orxanrustamov1827@gmail.com
    password:
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jakarta:
          persistence:
            sharedCache:
              mode: ENABLE_SELECTIVE

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: false

cloudinary:
  url: cloudinary://139126278824312:cF0_9qnzGYAPDhqec9zKRIudAkM@dyzkvaipd



